/*==============================================*/
/*					BASIC SETUP					*/
/* ============================================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;   
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif, Tahoma;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	font-size: 1.6rem;
	/* background: #F7F8FA; */
	/* background: #FDFFFD; */
	background: #F5F7F9;
}

ul li {
	list-style-type: none;
}

/**********	  HEADING   *********/
h1 {
	font-size: 4.2rem;
	color: #000000;
}

/*==============================================*/
/*				REUSABLE COMPONENTS				*/
/* ============================================ */
h2 {
	font-size: 4rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #000000;
	text-align: center;
}

h3 {
	font-size: 2.4rem;
	font-weight: 600;
}

h4 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 2.5rem;
}

.container {
	width: 100%;
	max-width: 117rem;
	margin: 0 auto;
}

.container {
	margin-bottom: 250px !important;
}

/*==============================================*/
/*					HEADER SECTION     			*/
/* ============================================ */
/* 
nav {
	display: flex;
	justify-content: space-between;
}

.nav__site_logo a {
	margin-top: 1rem;
	padding: 1rem 1rem 1rem 0;
	display: inline-block;
}

.nav__site_logo img {
	height: 4rem;
}

.nav__site_logo img:hover {
	cursor: pointer;
}

/************** START MAIN NAVIGATION ***********/

.nav__main_menu ul {
	margin-top: 2rem;
	display: flex;
}

.nav__main_menu li a:link,
.nav__main_menu li a:visited {
	color: rgb(122, 118, 118);
	text-decoration: none;
	padding: .6rem 3rem;
	font-size: 1.2rem;
	font-weight: 500;
	transition: .3s;
}

.nav__main_menu li a:last-child {
	padding-right: 0;
}
.nav__main_menu li:hover a:link,
.nav__main_menu li:hover a:visited {
	color: #9c2288;
}

.nav__main_menu li.active a {
	color: #9c2288;
}

/************** END MAIN NAVIGATION ***********/


/******** START STICKY NAVICATION *************/

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #F5F7F9;	
	box-shadow: 0 .2rem .5rem rgba(255,255,255,0.9);
	z-index: 9999;
}

/******** END STICKY NAVICATION ******/


/*==============================================*/
/*					CONTACT SECTION    			*/
/* ============================================ */

/* .contact-section {
	text-align: center;

}

.contact-section h2::after {
	background: #273a71;
}

.contact-section .little-description {
	color: #fff;
}

.contact-section form {
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
	background: #273a71;
	border: .1rem solid #273a71;
	width: 100%;
	padding: 1.5rem;
	border-radius: .5rem;
	font-size: 1.8rem;
	color: #fff;
	margin: .5rem 0;
}

.contact-section textarea {
	height: 20rem;
	font-family: 'Titillium Web', sans-serif;
}

.contact-section form ::placeholder {
	color: #fff;
	opacity: 1;
}

.btn-submit {
	border: 0;
	border-bottom: .3rem solid #299ec5;
	background: #30bae7;
}

.btn-submit:hover {
	cursor: pointer;
} */

/*==============================================*/
/*				END CONTACT SECTION    			*/
/* ============================================ */


/*==============================================*/
/*			Start Blog page Style				*/
/* ============================================ */

.news-item img {
	width: 100%;
    height: auto;
}

.post-meta {
	font-size: 13px;
}

.post-meta a {
	background-color: #FF3F95;
    color: #FFFFFF;
	font-weight: 300;
	text-decoration: none;
    padding: 3px 15px 5px;
    border-radius: 4px;
	margin-right: 5px;
}

.post-meta ul {
	display: flex;
	color: #767a8d;
	margin-top: 15px;
}

.post-meta ul li:first-child {
	margin-right: 40px;
}

.blog-post-title a {
	color: #121738;
	font-size: 23px;
	text-decoration: none;
}

.blog-read-more-arrow {
	color: #AA087B;
	text-decoration: none;
	padding: 5px 5px 5px 0;
}

.blog-read-more-arrow:hover {
	color: #FF3F95;
	text-decoration: none;
}

.theme-post-title {
	color: #121738;
	font-size: 43px;
	margin-bottom: 20px;
}

.theme-post-meta ul {
	display: flex;
}

.post-categories li a {
	color: #FFFFFF;
	font-size: 13px;
	background-color: #FF3F95;
	text-decoration: none;
    padding: 3px 15px 5px;
    border-radius: 4px;
	margin-right: 5px;
}

.theme-post-publish-meta li {
	color: #767a8d;
}

.theme-post-publish-meta li:first-child {
	margin-right: 50px;
}

.theme-post-body {
	color: #121738;
	font-size: 16px;
}

.theme-post-details figure img{
	display: block;	
	margin: auto;
}

.blog-post-author-info {
	display: flex;
	align-items: center;
}
.theme-post-author__name {
	margin-left: 15px;
}
.theme-post-author__name a {
	color: #121738;
	font-size: 23px;
	text-decoration: none;
}

.related-post-title {
	border-top: 1px solid #F5D0FE;
	margin: 50px 0;
	padding-top: 50px;
}

.theme-related-blog-each .theme-blog-card__thumbnail {
	background-color: #F5D0FE;
	border-radius: 10px;
}

.theme-related-blog-each .theme-blog-card__thumbnail img {
	width: 100%;
}

.theme-blog-card__title a {
	color: #121738;
	font-size: 19px;
	text-decoration: none;
	text-transform: capitalize;
}

.theme-blog-card__meta-list ul {
	display: flex;
}

.theme-blog-card__meta-list ul li{
	color: #767a8d;
	font-size: 13px;
	margin-right: 40px;
}

/*==============================================*/
/*				End Blog page Style				*/
/* ============================================ */


/*==============================================*/
/*				Start contact page Style		*/
/* ============================================ */

.slab-contact-form .form-group input {
	height: 40px;
	font-size: 16px;
	padding-left: 20px;
	border: 1px solid #f89dc6;
	border-radius: 5px;
}

.slab-contact-form .form-group textarea {
	font-size: 16px;
	padding-left: 20px;
	border: 1px solid #f89dc6;
	border-radius: 5px;
}

.slab-contact-form p button {
	color: #FFFFFF;
	font-weight: 600px;
	background-color: #FF3F95;
	padding: 5px 25px;
	border: none;
	border-radius: 5px;
}

/*==============================================*/
/*				End contact page Style			*/
/* ============================================ */



/*==============================================*/
/*				Start Footer area Style		*/
/* ============================================ */

.slab-footer-subscribe-form p {
	display: flex;
}

.slab-footer-subscribe-form input {
	width: 80%;
	font-size: 16px;
	border: 1px solid #f89dc6;
	border-radius: 5px 0 0 5px;
}

.slab-footer-subscribe-form button {
	width: 20%;
	color: #FFFFFF;
	font-weight: 600px;
	background-color: #FF3F95;
	border: none;
	border-radius: 0 5px 5px 0;
}

/*==============================================*/
/*				End Footer area Style		*/
/* ============================================ */